/*Link das fontes*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/*Seleção para página toda*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/*Seleção para o corpo todo*/

html{
  font-size: 62.5%;
}

.none{
  display: none;
}

html, body {
  background-color: #3d0802;
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body{
  font-size: 1.6rem;
}

/*Cabeçalho*/
header {
  background-color: #8b2e24;
  height: 150px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 1000px;
  margin: auto;
}

header img {
    width: 550px;
    padding: 0px 0 0 400px;

}

/*Estrutura*/

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 150px);

}

.hero .container img{
    
    width: 1000px;

}

.hero .container h3{
    color: #fff;
    margin-top: 10px;
}
